body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 247, 244);
        
}
.container{
    border: 10px ridge rgb(74, 8, 63);
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: honeydew;
    
    
}
.display{
    border-bottom: 5px solid brown; 
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
    padding-right: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 50px;
    background-color: rgb(12, 0, 66);
    color: white;
    margin-bottom: 10px;
    
  
      
}
.button-row{
    flex: 1;
    display: flex;
    
    gap: 3px;
}
.top-row{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 5px;
    
    
}
.decimal{
    flex-grow: 0;
    flex-basis: 50px;
    border-radius: 0;
    background-color: rgb(255, 253, 135);
    font-weight: 1000;
    
}
.backspace{
    border-radius: 0;
    flex-grow: 0;
    background-color: rgb(255, 253, 135);
    text-align: center;
    
}
.negative{
    border-radius: 0;
    flex-grow: 0;
    flex-basis: 50px;
    background-color: rgb(255, 253, 135);
    
   
}
button{
    border: 4px solid rgb(78, 0, 0);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 254, 255);
    font-size: 25px;
    border-radius: 50px;
    
    
    
}
.symbol{
    background-color: rgb(248, 214, 255);
    border-radius: 0px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.equal{
    background-color: rgb(216, 255, 216);
    border-radius: 25px;
}
.clear{
    background-color: rgb(255, 207, 207);
    border-radius: 0px;
}

.hover{
    outline: 3px solid red;
    filter: brightness(90%);
    
}
.click{
    transform: scale(1.1);
}

.selected{
    outline: 4px solid yellow;
    filter: brightness(80%);
}
